/* AddFAQ.css */
.add-faq-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  .add-faq-form {
    display: flex;
    flex-direction: column;
  }
  
  .add-faq-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-faq-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-faq-button:hover,
  .show-faqs-button:hover {
    background-color: #0056b3;
  }
  
  .show-faqs-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .show-faqs-button:hover {
    background-color: #218838;
  }
  