/* FAQList.css */
.faq-list-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.faq-list {
  list-style-type: none;
  padding: 0;
}

.faq-item {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.add-faq-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.add-faq-button:hover {
  background-color: #0056b3;
}
