/* frontend/App.css */

.App {
  text-align: center;
}

.container {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}
